# Include core setup

!content
content/*

!content/mu-plugins
!content/mu-plugins/*

!content/themes
content/themes/*
!content/themes/warp*
!content/themes/warp*/*

!content/views

### Always ignore

node_modules
_*
.hardlinks
.DS_Store
.git
.htaccess
